
<%= form_for @post, :html => { :multipart => true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
    <p><%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %></p>
  </div>

  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content %>
  </div>

  <div class="field">
    <%= f.label :tag_list %> 
    <%= f.text_field :tag_list, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :show %> 
    <%= f.check_box :status %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Post', :class => 'btn btn-primary' %>
  </div>
<% end %>
