<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br>
    <p><%= f.select :category_id, @categories, class: 'form-control' %></p>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content %>
  </div>
  <div class="field">
    <%= f.label :show %><br>
    <%= f.check_box :status %>
  </div>

  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_field :tag_list, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Post', :class => 'btn btn-primary' %>
  </div>
<% end %>

