<div class="posts">
  
  <p id="notice"><%= notice %></p>
  <div class="clear-fix">
    <p style="clear:both;"><%= link_to 'New Post', new_post_path %></p>
  </div>
  <% @posts.each do |post| %>
    <div class="col-md-3 posts-details">
      <div class="img">
        <%= image_tag post.image.url %>
      </div> 
      <h3><%= link_to post.name, post %></h3>
      <%= raw post.content.first(80) %>
    </div>
  <% end %>
  
</div>


