
<div class="posts">
  <ul class="list-post">
    <li><a id="grid" class="active">Grid</a></li>
    <li><a id="list" class="">List</a></li>
  </ul>
  <p id="notice"><%= notice %></p>

  <div class="clear-fix">
    <p ><%= link_to 'New Post', new_post_path %></p>
  </div>

  <% Category.all.each do | cat | %>
    <div style="clear:both;" class="post-category">
      <h3><%= cat.name %></h3>
      <% if cat.posts.count === 0 %>
          <p>Posts is empty</p>
      <% else %>
        <% cat.posts.limit(2).each do |post| %>
          <div class="posts-details grid">

              <div class="post-1">
                <div class="img">
                  <%= image_tag post.image.url %>
                </div> 
                <div class="post-detail-content">
                  <h3 class="name" ><%= link_to post.name.first(40), post %></h3>
                  <h4 class="category"><span>In</span> <%= link_to post.category.name, category_path(post.category.id) %></h4>
                  <p class="content"><%= raw post.content.first(80) %>...</p>
                  <p class="readmore"><%= link_to 'Read more', post %></p>
                </div>
              </div>
            
          </div>
        <% end %>
    <% end %>
    </div>
  <% end %>
</div>



