<div class="post-detail">
  <p id="notice"><%= notice %></p>

  <h3 class="title"><%= @post.name %></h3>
  <div class="meta-data" >
  	<span>Author :</span> <%= @post.user.uname %> | 
  	<span>In </span><%= link_to @post.category.name, category_path(@post.category.id) %>
  </div>
  <p><%= image_tag @post.picture_url() if @post.picture %></p>
  <p>
    <%= raw @post.content %>
  </p>

    <% if current_user && @post.user == current_user %>
		<%= link_to 'Edit', edit_post_path(@post) %>
	<% end %>
</div>
