<header class="header container-fluid">
	<div class="row">
		<div class="col-md-12 header-top">
			<div class="login">
				<% if( session[:user_id] || cookies[:user_id] ) %>
						
					<a class="login-avatar" href="/profile/<%= session[:user_id] %>">Profile</a> | 
					<%= link_to 'Logout', session_path(session), method: :delete %>
					<% else %>
						<a href="/login">Login</a> | 
						<a href="/register">Register</a>
				<% end %>
			</div>
		</div>
		<div class="col-md-12 header-bottom">
			<div class="col-md-3 logo">
				<h1><a href="<%= root_path %>">MBlog</a></h1>
			</div>
			<div class="col-md-6 menu">
				<nav class="menu-nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/blog">Blog</a>
							<ul>
								<% Category.all.each do | cat | %>
									<li><%= link_to cat.name, cat %></li>
									
								<% end %>
							</ul>
						</li>
						<li><a href="/about">About us</a></li>
						<li><a href="/contact">Contact us</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-md-3 search">
				<% form_for :search, :url => { :controller => 'posts', :action => 'index' } do %>
				  <p>
				    <%= text_field_tag :search, params[:search], :placeholder => 'Input Text' %>
				    <%= submit_tag "Search", :name => nil %>
				  </p>
				<% end %>
			</div>
		</div>
	</div>
</header>

<script type="text/javascript">
	$('.login-profile').hide();
	$('.login-avatar').click(function(){
	    $('.login-profile').slideToggle('slow');
	});
</script>