
<div class="posts">
  <% Post.order('created_at DESC').limit(16).each do |post| %>
        <div class="col-md-3 col-sm-6 col-xs-12 posts-details">
          <div class="posts-details-1">
            <div class="img">
              <% if post.picture? %>
                  <%= link_to (image_tag post.picture_url()), post %>
                <% else %>
                  <%= link_to (image_tag ("mblog.jpg")), post %>
              <% end %>
            </div>

            <div class="content">
              <h3><%= link_to post.name.first(40), post %></h3>
              <p><span>Posted at <%= time_ago_in_words(post.created_at) %></span></p>
              <p><%= raw post.content.first(110) %></p>
              <p class="readmore"><%= link_to 'Read More', post %></p>
            </div>
          </div>
            
        </div>
  <% end %>
</div>



