
<div class="posts">
  <% Category.all.each do | cat | %>
    <div class="post-category">
      <h3 class="head"><%= cat.name %></h3>
      <% if cat.posts.count === 0 %>
          <p>Posts is empty</p>
      <% else %>
        <div class="col-md-6 post-content-left">
          <% a = '' %>
          <% cat.posts.limit(1).each do |post| %>
            <% a = post.id %>
            <div class="img">
              <% if post.picture? %>
                  <%= image_tag post.picture_url() %>
                <% else %>
                  <%= image_tag ("mblog.jpg") %>
              <% end %>
            </div>
            <h3><%= post.name %></h3>
            <p><%= raw post.content.first(100) %></p>
          <% end %>
        </div>

        <div class="col-md-6 post-content-right">
          <% cat.posts.limit(3).where.not(:id => a).each do |p| %>
            <% if p.status == 1 %>          
                <h3><%= p.name %></h3>
            <% end %>
          
          <% end %>
        </div>
    <% end %>
    </div>
  <% end %>
</div>



