<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testimonial.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @testimonial.content %>
</p>

<p>
  <strong>Website:</strong>
  <%= @testimonial.website %>
</p>

<p>
  <strong>Regency:</strong>
  <%= @testimonial.regency %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
