<!DOCTYPE html>
<html>
<head>
  <title>MBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render '/layouts/partials/header' %>
<%= render '/layouts/partials/slideshow' %>
<section class="container-fluid wrapper">
	
</section>
<%= render '/layouts/partials/footer' %>

</body>
</html>
