<!DOCTYPE html>
<html>
<head>
  <title>MBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render '/layouts/partials/header' %>

<section class="container-fluid wrapper">
	<div class="container slideshow">
			<div class="col-md-8 slide-details">
				<%= render '/layouts/partials/slideshow' %>
			</div>
			<div class="col-md-4 slide-post-content">
				<% Post.all.order('created_at ASC').limit(1).each do |post| %>
					<div class="col-md-12 post-details">
						<div class="body-img">
	                        <% if post.picture? %>
	                          <%= image_tag post.picture_url() %>
	                        <% else %>
	                          <%= image_tag ("mblog.jpg") %>
	                        <% end %>s
	                    </div>
	                    <div class="body-content">
	                        <div class="hk-posts-content">
	                            <!-- <i class="fa fa-quote-left"></i> -->
	                            <h3><%= link_to post.name, post %></h3>
	                            <%= raw post.content.first(380) %>
	                            <!-- <i class="fa fa-quote-right"></i> -->
	                        </div>
	                    </div>
					</div>
				<% end %>
			</div>
	</div>

	<div class="container posts-index">
		<%= render '/layouts/partials/posts_index' %>
	</div>

	<div class="container posts-index">
		<%= render '/layouts/partials/testimonials' %>
	</div>

</section>
<%= render '/layouts/partials/footer' %>

</body>
</html>
