<!DOCTYPE html>
<html>
<head>
  <title>MBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render '/layouts/partials/header' %>
<section class="container wrapper">
	<div class="col-md-9">
		<%= yield %>	
	</div>

	<div class="col-md-3">
		<div class="post-sidebar">
			<h3 class="head">Category</h3>
			<ul>
				<% Category.all.each do | cat | %>
					<li>
						<i class="fa fa-folder-open-o" aria-hidden="true"></i>
						<%= link_to cat.name, cat %>
					</li>
				<% end %>
			</ul>
		</div>

		<div class="post-sidebar">
			<h3 class="head">Related Posts</h3>
			<ul>
				<% Post.all.order('created_at DESC').limit(10).each do | post | %>
					<li class="li-rpost">
						<%= link_to post.name, post %>
					</li>
				<% end %>
			</ul>
		</div>

		<div class="post-sidebar">
			<h3 class="head">Tags Cloud</h3>
			<div class="tags">
				<% tag_cloud Post.tag_counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
				    <%= link_to tag.name, tag_path(tag.name), class: 'tag-cloud' %>
				<% end %>
			</div>
		</div>
		
	</div>

</section>
<%= render '/layouts/partials/footer' %>

</body>
</html>
